<div *ngIf="formDiv" style="border: 2px solid black; padding: 2%; margin: 2%; display: block;">
  <!--FORM COMPONENT-->
  <app-CreateTask></app-CreateTask>
  <button (click)="CreateCancel()">Cancel</button>
</div>

<div *ngIf="allButForm">
  <div *ngIf="newTaskButton">
    <h2 style="text-align: center;">Task List</h2>
    <button style="margin-left: 2%;" (click)="CreateTask()">New Task</button>
  </div>

  <div *ngFor="let task of tasks"  >
    <div *ngIf="listDiv" style="border: 2px solid black; padding: 2%; margin: 2%; display: block;">
      <h4>{{task.taskName}}</h4>
      <h6>Details:</h6>
      <p>{{task.taskDescription}}</p>
      <hr>
      <p>Completed? : {{task.completed}}</p>
      <button (click)="DeleteTask(task.id)" style="margin-right: 5%;">Delete</button>
      <button (click)="EditTask(task.id)">Edit</button>
    </div>

    <div id="del{{task.id}}" style="border: 2px solid black; padding: 2%; margin: 2%; display: none;">
      <!--DELETE COMPONENT-->
      <app-DeleteTask [id]=task.id></app-DeleteTask>
      <button (click)="DeleteCancel(task.id)" style="margin: 2%;">Cancel</button>
    </div>
    
    <div id="edit{{task.id}}" style="border: 2px solid black; padding: 2%; margin: 2%; display: none;">
      <!--EDIT COMPONENT-->
      <app-EditTask [id]=task.id></app-EditTask>
      <button (click)="EditCancel(task.id)" style="margin: 2%;">Cancel</button>
    </div>
    
  </div>

</div>